Source: rpyc
Standards-Version: 3.9.7
Section: python
Maintainer: Denis Demidov <dennis.demidov@gmail.com>
Build-Depends: python3-setuptools (>= 0.6b3), python3-all (>= 3.4), debhelper (>= 9), dh-python
Priority: optional
Homepage: http://rpyc.readthedocs.io
VCS-Browser: https://github.com/ddemidov/rpyc
VCS-Git: https://github.com/ddemidov/rpyc.git
X-Python-Version: >= 3.4

Package: python3-rpyc
Depends: ${misc:Depends}, ${python3:Depends}
Architecture: all
Description: RPyC (Remote Python Call).
 A transparent and symmetric RPC library for python.
